<link href="https://fonts.googleapis.com/css?family=Open+Sans:800" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

<div class="container mt-5">

  <div id="row">
      <div class="col text-center">
          <h1>Feature Client</h1>
      </div>
  </div>
  
  <div id="col">
    <div class="hoverzoom">
      <figure>
        <a routerLink="dashboard/company-overview" routerLinkActive="active"><img src="assets/image/MetLife_logo.png"
            alt="metlife" width="150" height="150" class="img-fluid"></a>
        <figcaption>MetLife</figcaption>
      </figure>
    </div>

    <div class="hoverzoom">
      <figure>
        <a routerLink="dashboard/company-overview" routerLinkActive="active"><img src="assets/image/morgan_stanley.png"
            alt="morgan_stanley" width="150" height="150" class="img-fluid"></a>
        <figcaption>Morgan Stanley </figcaption>
      </figure>
    </div>

    <div class="hoverzoom">
      <figure>
        <a routerLink="dashboard/company-overview" routerLinkActive="active"><img src="assets/image/berkshire.png"
            alt="berkshire" width="150" height="150" class="img-fluid"></a>
        <figcaption>Berkshire</figcaption>
      </figure>
    </div>

    <div class="hoverzoom">
      <figure>
        <a routerLink="dashboard/company-overview" routerLinkActive="active"><img src="assets/image/blackstone.png"
            alt="blackstone" width="150" height="150" class="img-fluid"></a>
        <figcaption>The Blackstone Group</figcaption>
      </figure>
    </div>

    <div class="hoverzoom">
      <figure>
        <a routerLink="dashboard/company-overview" routerLinkActive="active"><img src="assets/image/fannie.png"
            alt="fannie" width="150" height="150" class="img-fluid"></a>
        <figcaption>Fannie Mae</figcaption>
      </figure>
    </div>


    <div class="hoverzoom">
      <figure>
        <a routerLink="dashboard/company-overview" routerLinkActive="active"><img src="assets/image/gm.png" alt="gm"
            width="150" height="150" class="img-fluid"></a>
        <figcaption> General Motors </figcaption>
      </figure>
    </div>

    <div class="hoverzoom">
      <figure>
        <a routerLink="dashboard/company-overview" routerLinkActive="active"><img src="assets/image/microsoft.png"
            alt="microsoft" width="150" height="150" class="img-fluid"></a>
        <figcaption>Microsoft</figcaption>
      </figure>
    </div>

    <div class="hoverzoom">
      <figure>
        <a routerLink="dashboard/company-overview" routerLinkActive="active"><img src="assets/image/procter.png"
            alt="procter" width="150" height="150" class="img-fluid"></a>
        <figcaption>Proctor & Gamble</figcaption>
      </figure>
    </div>

    <div class="hoverzoom">
      <figure>
        <a routerLink="dashboard/company-overview" routerLinkActive="active"><img src="assets/image/boeing.png"
            alt="boeing" width="150" height="150" class="img-fluid"></a>
        <figcaption>Boeing</figcaption>
      </figure>
    </div>

    <div class="hoverzoom">
      <figure>
        <a routerLink="dashboard/company-overview" routerLinkActive="active"><img src="assets/image/apollo.png"
            alt="apollo" width="150" height="150" class="img-fluid"></a>
        <figcaption>Apollo</figcaption>
      </figure>
    </div>

  </div>
  <div class="clock">
    <iframe src="http://free.timeanddate.com/clock/i6pz9i8j/n12/szw110/szh110/hocddd/hbw0/hfc000/cf100/hgr0/fav0/fiv0/mqcfff/mql15/mqw8/mqd100/mhc09f/mhl15/mhw4/mhd100/mmv0/hhc09f/hmc09f/hsc0f0" frameborder="0" width="190" height="115"> New York City, USA</iframe>
    <iframe src="http://free.timeanddate.com/clock/i6pz9i8j/n137/szw110/szh110/hocddd/hbw0/hfc000/cf100/hgr0/fav0/fiv0/mqcfff/mql15/mqw8/mqd100/mhc09f/mhl15/mhw4/mhd100/mmv0/hhc09f/hmc09f/hsc0f0" frameborder="0" width="190" height="115"> Los Angeles, USA</iframe>
    <iframe src="http://free.timeanddate.com/clock/i6pz9i8j/n136/szw110/szh110/hocddd/hbw0/hfc000/cf100/hgr0/fav0/fiv0/mqcfff/mql15/mqw8/mqd100/mhc09f/mhl15/mhw4/mhd100/mmv0/hhc09f/hmc09f/hsc0f0" frameborder="0" width="190" height="115"> London, England</iframe>
    <iframe src="http://free.timeanddate.com/clock/i6pz9i8j/n248/szw110/szh110/hocddd/hbw0/hfc000/cf100/hgr0/fav0/fiv0/mqcfff/mql15/mqw8/mqd100/mhc09f/mhl15/mhw4/mhd100/mmv0/hhc09f/hmc09f/hsc0f0" frameborder="0" width="190" height="115"> Tokyo, Japan</iframe>
    <iframe src="http://free.timeanddate.com/clock/i6pz9i8j/n240/szw110/szh110/hocddd/hbw0/hfc000/cf100/hgr0/fav0/fiv0/mqcfff/mql15/mqw8/mqd100/mhc09f/mhl15/mhw4/mhd100/mmv0/hhc09f/hmc09f/hsc0f0" frameborder="0" width="190" height="115"> Sydney, Austrailia</iframe>
    <iframe src="http://free.timeanddate.com/clock/i6pz9i8j/n176/szw110/szh110/hocddd/hbw0/hfc000/cf100/hgr0/fav0/fiv0/mqcfff/mql15/mqw8/mqd100/mhc09f/mhl15/mhw4/mhd100/mmv0/hhc09f/hmc09f/hsc0f0" frameborder="0" width="120" height="115"> New Delhi, India</iframe>
  
    <p> New York City, USA ------------ Los Angeles, USA  --------------- London, England ---------------- Tokyo, Japan --------------- Sydney, Austrailia  ------------- New Delhi, India</p>
    </div>
  
