<app-navigation>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: auto;height:auto;">
          <div class="card-body">
            <h4 class="card-title">Company Information</h4>
            <h6 class="card-subtitle mb-2 text-muted">Microsoft</h6>
            <h5 class="card-title">Company Segment</h5>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Business Segments Description Devices and Consumer
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                Our D&C segments develop, manufacture, market, and support products and
                services designed to increase personal productivity, help people simplify tasks
                and make more informed decisions online, entertain and connect people, and help
                advertisers connect with audiences. Our D&C segments are made up of D&C
                Licensing, Computing and Gaming Hardware, Phone Hardware, and D&C Other.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  D&C Licensing
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The principal products and services provided by the D&C Licensing segment
                are: Windows, including original equipment manufacturer (OEM)
                licensing (Windows OEM) and other non-volume licensing and academic
                volume licensing of the Windows operating system and related software; non-volume
                licensing of Microsoft Office, comprising the core Office product set, for consumers
                (Office Consumer); Windows Phone operating system, including related
                patent licensing; and certain other patent licensing revenue.
                The Windows operating system is designed to empower individuals, companies,
                and organizations to simplify everyday tasks through seamless operations across
                the user hardware and software.<br>
                Windows revenue growth is impacted significantly by the number of Windows operating
                system licenses purchased by OEMs, which they pre-install on the devices they
                sell. In addition to computing device market volume, Windows revenue is impacted
                by:

                the mix of computing devices based on form factor and screen size;

                differences in device market demand between developed markets and emerging markets;

                attachment of Windows to devices shipped;

                customer mix between consumer, small and medium sized businesses, and large
                enterprises;

                changes in inventory levels in the OEM channel;

                pricing changes and promotions, pricing variation that occurs when the mix of
                devices manufactured shifts from local and regional system builders to large,
                multinational OEMs, and different pricing of Windows versions licensed;
                piracy; and sales of packaged software.
                The versions of Office included in our D&C Licensing segment are designed
                to increase personal productivity through a range of programs, services, and
                software solutions. Growth depends on our ability to add value to the core product
                set and to continue to expand our product offerings in other areas such as content
                management and collaboration. Office Consumer revenue is impacted by sales to
                customers that buy Office with their new devices and by product launches, as
                well as the transition to Office 365 Consumer, our subscription-based cloud
                service that provides access to Office plus other productivity services. Office
                365 Consumer revenue is included in our D&C Other segment.<br>

                The Windows Phone operating system is designed to bring users closer to the
                people, applications, and content they need. As noted above, prior to our acquisition
                of NDS, Microsoft and Nokia jointly created new mobile products and services
                and extended established products and services to new markets through a strategic
                alliance. Windows Phone revenue associated with this contractual relationship
                was reflected in D&C Licensing. Windows Phone revenue also includes revenue
                from licensing mobile-related patents.<br>
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Computing and Gaming Hardware
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The principal products and services provided by the Computing and Gaming Hardware
                segment are: Xbox gaming and entertainment consoles and accessories, second-party
                and third-party video game royalties, and Xbox Live subscriptions (Xbox
                Platform); Surface devices and accessories; and Microsoft PC accessories.
                The Xbox Platform is designed to provide a unique variety of entertainment choices
                through the use of our devices, peripherals, content, and online services. We
                released Xbox 360 and Xbox One in November 2005 and November 2013, respectively.
                Surface devices are designed to help organizations, students, and consumers
                to be more productive, offering accessories and compatibility with peripherals.
                Surface devices were first released in October 2012. Our latest Surface device,
                the Surface Pro 3, was released in June 2014.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Phone Hardware
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The principal products and services provided by the new Phone Hardware segment
                are Lumia Smartphones and other non-Lumia phones, which we began manufacturing
                and selling with the acquisition of NDS on April 25, 2014.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  D&C Other
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The principal products and services provided by the D&C Other segment are:
                Resale, including the Windows Store, Xbox Live transactions, and the Windows
                Phone Store; search advertising; display advertising; Office 365 Consumer, comprising
                Office 365 Home and Office 365 Personal; Studios, comprising first-party video
                games; and our retail stores.<br>
                Windows Store and Windows Phone Store are online application marketplaces that
                are designed to benefit our developers and partner ecosystems by providing access
                to a large customer base and benefit users by providing centralized access to
                certified applications. Xbox Live transactions consist of online entertainment
                content, such as games, music, movies, and TV shows, accessible on Xbox consoles
                and other devices.<br>
                Search and display advertising includes Bing, Bing Ads, MSN, Windows Services,
                and Xbox ads. We are the exclusive algorithmic and paid search platform for
                Yahoo! websites worldwide. We have completed the Yahoo! worldwide algorithmic
                transition and the paid search transition in the U.S. and planned international
                markets.<br>

                Office 365 Consumer is designed to increase personal productivity through a
                range of Microsoft Office programs and services delivered across multiple platforms
                via the cloud.<br>

                Studios designs and markets games for Xbox consoles, Windows-enabled devices,
                and online. Growth depends on our ability to attract new users and increase
                engagement by developing a deep library of content which consumers seek.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Commercial Licensing
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The principal products and services provided by the Commercial Licensing segment
                are: server products, including Windows Server, Microsoft SQL Server, Visual
                Studio, System Center, and related Client Access Licenses (CAL);
                Windows Embedded; volume licensing of the Windows operating system, excluding
                academic (Windows Commercial); Microsoft Office for business,
                including Office, Exchange, SharePoint, Lync, and related CAL (Office
                Commercial); Skype; and Microsoft Dynamics business solutions, excluding
                Dynamics CRM Online.<br>

                Our server products are designed to make information technology professionals
                and developers and their systems more productive and efficient. Server software
                is integrated server infrastructure and middleware designed to support software
                applications built on the Windows Server operating system. This includes the
                server platform, database, business intelligence, storage, management and operations,
                virtualization, service-oriented architecture platform, security, and identity
                software. We also license standalone and software development lifecycle tools
                for software architects, developers, testers, and project managers. Revenue
                comes from product revenue, including purchases through volume licensing programs,
                licenses sold to OEMs, and retail packaged product. CAL provide access rights
                to certain server and Office products, including Windows Server, Microsoft SQL
                Server, Exchange, SharePoint, and Lync. CAL revenue is reported along with the
                associated server or Office product.<br>

                Windows Embedded extends the power of Windows and the cloud to intelligent
                systems, including the Internet of Things, by delivering specialized operating
                systems, tools, and services.<br>

                Windows Commercial revenue is mainly affected by the demand from commercial
                customers for volume licensing and software assurance, often reflecting the
                number of information workers in a licensed enterprise, and is therefore relatively
                independent of the number of PCs sold in a given year.
                The versions of Office in Commercial Licensing are designed to increase personal,
                team and organizational productivity through a range of programs, services,
                and software solutions. Office Commercial revenue is mainly affected by a combination
                of the demand from commercial customers for volume licensing and software assurance
                and the number of information workers in a licensed enterprise, and is therefore
                relatively independent of the number of PCs sold in a given year.
                Skype is designed to connect friends, family, clients, and colleagues through
                a variety of devices. Revenue is largely driven by the sale of minutes, subscriptions,
                and advertising.<br>

                Microsoft Dynamics products provide business solutions for financial management,
                customer relationship management, supply chain management, and analytics applications
                for small and mid-size businesses, large organizations, and divisions of global
                enterprises. Revenue is largely driven by the number of information workers
                licensed.
              </p>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Commercial Other
                </mat-panel-title>
              </mat-expansion-panel-header>
              <p>
                The principal products and services provided by the Commercial Other segment
                are: Enterprise Services, including Premier product support services and Microsoft
                Consulting Services; Commercial Cloud, comprising Office 365 Commercial, other
                Microsoft Office online offerings, Dynamics CRM Online, and Microsoft Azure.<br>


                Enterprise Services, including Premier product support services and Microsoft
                Consulting Services assist customers in developing, deploying, and managing
                Microsoft server and desktop solutions and provide training and certification
                to developers and information technology professionals on various Microsoft
                products.<br>
                Office 365 Commercial is an online services offering that includes Microsoft
                Office, Exchange, SharePoint, and Lync, and is available across a variety of
                devices and platforms.<br>

                Dynamics CRM Online is designed to provide customer relationship management
                and supply chain management for small and mid-size businesses, large organizations,
                and divisions of global enterprises. Revenue is largely driven by the number
                of information workers licensed.<br>
                Microsoft Azure is a scalable operating system with computing, storage, database,
                and management, along with comprehensive cloud solutions, from which customers
                can build, deploy, and manage enterprise workloads and web applications. These
                services also include a platform that helps developers build and connect applications
                and services in the cloud. Our goal is to enable customers to devote more resources
                to development and use of applications that benefit their businesses, rather
                than managing on-premises hardware and software.
              </p>
            </mat-expansion-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navigation>
