<app-navigation>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="card" style="width: auto;height:auto;">
          <div class="card-body">
            <h4 class="card-title">Company Information</h4>
            <h6 class="card-subtitle mb-2 text-muted">Microsoft</h6>
            <img mat-card-image src="../../../assets/image/microsoft.png" alt="Microsoft">
            <h5 class="card-title">Fortune Index Ranking</h5>
            <p class="card-text"> 30 </p>
            <h6 class="card-title">Company Description </h6>
            <p class="card-text">
              Microsoft Corporation, incorporated on September 22, 1993, is a technology company. The Company develops,
              licenses, and supports a range of software products, services and devices. The Company's segments include
              Productivity and Business Processes, Intelligent Cloud and More Personal Computing. The Company's products
              include operating systems; cross-device productivity applications; server applications; business solution
              applications; desktop and server management tools; software development tools; video games, and training
              and certification of computer system integrators and developers.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card" style="width: auto; height: auto;">
          <div class="card-body">
            <app-doughnut-chart></app-doughnut-chart><br>
            <h6 class="card-title">Shares Outstanding(Mil.)</h6>
            <p class="card-text"> 7702.24 </p>
            <h6 class="card-title">Market Cap(Mil.) </h6>
            <p class="card-text">585370.62</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-navigation>
